.driverInfo {
    background-color: #223E82;
    color: white;
}
.tableName {
    font-size: 20px;
    font-weight: bold;
}

.row:hover {
    background-color: #c6d2f0;
}
.row:active {
    background-color: #aabce9;
}